@import "tailwindcss";
html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "Overused Grotesk Light";
  src: url("/fonts/OverusedGrotesk-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Overused Grotesk Book";
  src: url("/fonts/OverusedGrotesk-Book.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Overused Grotesk Roman";
  src: url("/fonts/OverusedGrotesk-Roman.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Overused Grotesk Medium";
  src: url("/fonts/OverusedGrotesk-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Overused Grotesk SemiBold";
  src: url("/fonts/OverusedGrotesk-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Overused Grotesk Bold";
  src: url("/fonts/OverusedGrotesk-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Overused Grotesk ExtraBold";
  src: url("/fonts/OverusedGrotesk-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "Overused Grotesk Black";
  src: url("/fonts/OverusedGrotesk-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Century";
  src: url("/fonts/century_normal.ttf");
}

body{
  font-family: 'Overused Grotesk Roman', 'sans-serif';
  letter-spacing: 0.01em;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Century", 'serif';
}
@theme {
  --font-grotesk-200: "Overused Grotesk Light", "sans-serif";
  --font-grotesk-300: "Overused Grotesk Book", "sans-serif";
  --font-grotesk-400: "Overused Grotesk Roman", "sans-serif";
  --font-grotesk-500: "Overused Grotesk Medium", "sans-serif";
  --font-grotesk-600: "Overused Grotesk Semibold", "sans-serif";
  --font-grotesk-700: "Overused Grotesk Bold", "sans-serif";
  --font-grotesk-800: "Overused Grotesk Extrabold", "sans-serif";
  --font-grotesk-900: "Overused Grotesk Black", "sans-serif";
  --font-century: "Century", "sans-serif";

  --color-primary: #af3714;
  --color-neutral-bg: #fff1e8;
  --color-white: #ffffff;

  --shadow-xs: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}
@layer components{
  .footer_head{
    @apply font-century text-[19.2px] tracking-[0.01em]
  }
  .footer_line{
    @apply my-3 bg-white border border-white/70 w-[80px] h-[1px]
  }
  .footer_link{
    @apply font-grotesk-400 tracking-[0.01em] pb-0.5 border-b border-transparent hover:border-white transition-all duration-75 ease-in
  }
  
  .cart_product_title{
    @apply font-grotesk-500 tracking-[0.02em] text-base text-black
  }
  .cart_product_price{
    @apply font-grotesk-300 text-[#3F3F3F] tracking-[0.02em] text-base
  }
  .admin_sidebar_title{
    @apply font-grotesk-400 text-[19.02px] tracking-[0.01em] text-black max-sm:text-base
  }
  .admin_heading{
    @apply font-century text-[23.04px] tracking-[0.01em] text-black max-sm:text-[19.02px]
  }

}